In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_json('snapshots/properties_may_17.json')

In [4]:
values = {"ownerName": df['ownerAddress']}

In [5]:
df.fillna(value=values, inplace=True)

In [6]:
df['ownerNameLower'] = df['ownerName'].str.lower()

In [10]:
df.loc[df['city']=='Special'][['ownerAddress','tokenId']].to_csv('specials_wallets_may_17.csv', index=False)

In [87]:
dfSimple = df[['ownerAddress', 'ownerName', 'city', 'district', 'street']]

In [88]:
gbOwnerStreet = df.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district', 'street'])
dfOwnerStreet = gbOwnerStreet.size().reset_index(name='propertyCount')
dfOwnerStreet['streetCount'] = np.floor_divide(dfOwnerStreet['propertyCount'], 7)

In [24]:
gbOwnerStreet = df.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district', 'street'])

In [25]:
dfOwnerStreet = gbOwnerStreet.size().reset_index(name='propertyCount')

In [27]:
dfOwnerStreet['streetCount'] = np.floor_divide(dfOwnerStreet['propertyCount'], 7)

In [6]:
import numpy as np

In [32]:
dfOwnerStreet.loc[dfOwnerStreet['streetCount']==0]

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
1,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,Cobra Cove,1,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,Trick Or Street,1,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,Lobelia Lane,1,0
4,0x00ad52965f378de3c48191d21aa430ffb272aa9e,heyitsjes,heyitsjes,Beige Bay,Sandy Secrets,Cobra Cove,2,0
...,...,...,...,...,...,...,...,...
3826,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Mount Mango,Naranja Narrows,1,0
3827,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,Carved Lane,1,0
3828,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,Lobelia Lane,1,0
3829,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
3830,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,Lucky Lane,1,0

In [33]:
gbOwnerDistrict = dfOwnerStreet.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district'])
dfOwnerDistrict = gbOwnerDistrict.streetCount.agg(sum).reset_index(name='streetsInDistrict')
dfOwnerDistrict['districtCount'] = np.floor_divide(dfOwnerDistrict['streetsInDistrict'], 3)

In [34]:
dfOwnerDistrict

,ownerAddress,ownerName,ownerNameLower,city,district,streetsInDistrict,districtCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,0,0
1,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,0,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,0,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,0,0
4,0x00ad52965f378de3c48191d21aa430ffb272aa9e,heyitsjes,heyitsjes,Beige Bay,Sandy Secrets,0,0
...,...,...,...,...,...,...,...
3546,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Mount Mango,0,0
3547,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,0,0
3548,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,0,0
3549,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,0,0
3550,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,0,0

In [14]:
gbOwnerCity = dfOwnerDistrict.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city'])
dfOwnerCity = gbOwnerCity.districtCount.agg(sum).reset_index(name='districtsInCity')
dfOwnerCity['cityCount'] = np.floor_divide(dfOwnerCity['districtsInCity'], 3)

In [15]:
dfTopOwners = df.groupby(['ownerAddress', 'ownerName']) \
        .size().reset_index(name='count').sort_values(by='count', ascending=False).head(10)
    dfTopOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

    dfTopStreetOwners = dfOwnerStreet.groupby(['ownerAddress','ownerName']) \
        .streetCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
    dfTopStreetOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

    dfTopDistrictOwners = dfOwnerDistrict.groupby(['ownerAddress','ownerName']) \
        .districtCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
    dfTopDistrictOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

IndentationError: unexpected indent (Temp/ipykernel_4192/105657557.py, line 3)

In [15]:
dfTopOwners = df.groupby(['ownerAddress', 'ownerName']) \
        .size().reset_index(name='count').sort_values(by='count', ascending=False).head(10)
dfTopOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

dfTopStreetOwners = dfOwnerStreet.groupby(['ownerAddress','ownerName']) \
        .streetCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
dfTopStreetOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

dfTopDistrictOwners = dfOwnerDistrict.groupby(['ownerAddress','ownerName']) \
        .districtCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
dfTopDistrictOwners.index = pd.RangeIndex(start=1, stop=11, step=1)

In [17]:
dfOwner

NameError: name 'dfOwner' is not defined

In [18]:
dfOwnerStreetFiltered[['ownerAddress','ownerName','city','district','street','propertyCount','streetCount']]

NameError: name 'dfOwnerStreetFiltered' is not defined

In [16]:
dfOwnerStreetFiltered = dfOwnerStreet.loc[dfOwnerStreet['street']=='Clay Circus']

In [28]:
dfOwnerStreetFiltered.loc[(dfOwnerStreetFiltered['propertyCount'] % 7) > 1].propertyCount.sum()

8

In [31]:
df_street = df.loc[df['street']=='Clay Circus']

In [40]:
len(df_street.loc[(df_street['lastSale'].isna()) & (df_street['salePrice'].isna())])

16

In [44]:
df1 = dfOwnerStreetFiltered.loc[dfOwnerStreet['propertyCount']==1]

In [45]:
df2 = dfOwnerStreetFiltered.loc[(dfOwnerStreetFiltered['propertyCount']%7) > 1]

In [48]:
df2 = df_street.loc[(df_street['lastSale'].isna()) & (df_street['salePrice'].isna())]

In [54]:
dfMerge = pd.merge(df1, df2, how='inner', on=['ownerAddress'])

In [55]:
len(dfMerge)

10

In [41]:
dfOwnerCity.groupby(['ownerAddress','ownerName'])

In [42]:
sfStreet = df.groupby('street')

In [43]:
dfStreet = df.groupby('street')

In [44]:
dfStreet

In [48]:
dfStreet = df.groupby('street', as_index=False).dropna()

TypeError: 'bool' object is not callable

In [46]:
dfStreet

In [47]:
dfStreet[['street']]

In [20]:
df.loc[df['street']=='Clay Circus', 'imagePreviewUrl'].values[0]

'https://lh3.googleusercontent.com/LdzCEOYhHup8WAqQCKdRo5n7Yi81oUTEsytXsaUX8AjJP2pThpZGDt1aPKNTBxc-s0aHjLnba880K1b9WeoLNe1XU4R8Jz8AMWhRAA=s250'

In [21]:
dfStreet = df.loc[df['street']==streetName, 'imagePreviewUrl']

NameError: name 'streetName' is not defined

In [15]:
dfStreet = df.loc[df['street']=='Divers Drive']

In [29]:
dfStreet.values[0]

array([117638971, 0,
       'https://lh3.googleusercontent.com/LdzCEOYhHup8WAqQCKdRo5n7Yi81oUTEsytXsaUX8AjJP2pThpZGDt1aPKNTBxc-s0aHjLnba880K1b9WeoLNe1XU4R8Jz8AMWhRAA',
       'https://lh3.googleusercontent.com/LdzCEOYhHup8WAqQCKdRo5n7Yi81oUTEsytXsaUX8AjJP2pThpZGDt1aPKNTBxc-s0aHjLnba880K1b9WeoLNe1XU4R8Jz8AMWhRAA=s250',
       'https://lh3.googleusercontent.com/LdzCEOYhHup8WAqQCKdRo5n7Yi81oUTEsytXsaUX8AjJP2pThpZGDt1aPKNTBxc-s0aHjLnba880K1b9WeoLNe1XU4R8Jz8AMWhRAA=s128',
       "Property's #01-04-0b-27",
       'https://opensea.io/assets/0x18cb9db75fa62a9717aa98292b939e579b7c7ccd/117638971',
       nan, '0x999b87f4bcabce26f75b651ea45c8e7719648ac6', 'Flambard',
       'Muddy Mountains', 'Beige Bay', 39, 'Clay Circus', 'flambard'],
      dtype=object)

In [31]:
dfStreet['imagePreviewUrl'].values[0]

'https://lh3.googleusercontent.com/LdzCEOYhHup8WAqQCKdRo5n7Yi81oUTEsytXsaUX8AjJP2pThpZGDt1aPKNTBxc-s0aHjLnba880K1b9WeoLNe1XU4R8Jz8AMWhRAA=s250'

In [21]:
salePrice = dfStreet['salePrice'].dropna().sort_values()

In [39]:
dtype(salePrice)

NameError: name 'dtype' is not defined

In [40]:
type(salePrice)

float

In [24]:
dfStreet['salePrice'].dropna().sort_values().head(7).sum()

6.6

In [25]:
len(dfStreet['salePrice'].dropna())

9

In [26]:
dfStreet

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower
9,17108266,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-27,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x30f2449b71a67bb22e09eee89438431686189068,Oyster Oceans,39,Blue Bayside,Divers Drive,NFT_Boss,0.66,nft_boss
70,67174942,1,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-23,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.345,0xf29d7398cc76cdabcf0fb6ae590df2692bc0be12,Oyster Oceans,35,Blue Bayside,Divers Drive,PropertysKing,NaN,propertysking
101,67240984,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-43,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xc0eed42b3b95759debf489b5c7d20bb7779a04f2,Oyster Oceans,67,Blue Bayside,Divers Drive,Tennezzee,NaN,tennezzee
237,100795650,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-3e,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x0b175a06961b0e11c73a3ac9a0947bdb6769cf00,Oyster Oceans,62,Blue Bayside,Divers Drive,T-Bone_McGillicuddy_3,NaN,t-bone_mcgillicuddy_3
420,17108512,3,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-2d,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.600,0x5b308c7951d8ab544eb459f7e7c250e64c0eff93,Oyster Oceans,45,Blue Bayside,Divers Drive,JLaaa,NaN,jlaaa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5522,84151320,1,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-0e,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.100,0x79b33876135ea1cc4ab3d4c7018d36410b074faa,Oyster Oceans,14,Blue Bayside,Divers Drive,Super_Boss,NaN,super_boss
5855,100795413,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-16,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,Oyster Oceans,22,Blue Bayside,Divers Drive,HoodooOwl,NaN,hoodooowl
5916,67174965,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-32,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xf1b6902390f8f7a1c1dd8ef4bd18e5cdbb9d3c98,Oyster Oceans,50,Blue Bayside,Divers Drive,bluberry_cem,NaN,bluberry_cem
5917,67174717,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-05,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xf1b6902390f8f7a1c1dd8ef4bd18e5cdbb9d3c98,Oyster Oceans,5,Blue Bayside,Divers Drive,bluberry_cem,NaN,bluberry_cem
5991,17042461,0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-01,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Oyster Oceans,1,Blue Bayside,Divers Drive,NaN,NaN,NaN

In [38]:
dfStreetPrices = df.groupby('street')['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum()).reset_index(name='cheapestStreet')

TypeError: reset_index() got an unexpected keyword argument 'name'

In [37]:
dfStreetPrices

      index  cheapestStreet
0         0          3.4350
1         1          6.8769
2         2          1.7640
3         3          2.6600
4         4          2.2568
...     ...             ...
5995   5995          8.6480
5996   5996          2.9800
5997   5997          8.4800
5998   5998          8.6480
5999   5999          2.3540

[6000 rows x 2 columns]

In [46]:
dfStreetGB = df.groupby('street').reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [41]:
dfStreetGB.to_frame()

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_frame'

In [56]:
df.groupby(['city', 'district', 'street'])['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum())

0       3.4350
1       6.8769
2       1.7640
3       2.6600
4       2.2568
         ...
5995    8.6480
5996    2.9800
5997    8.4800
5998    8.6480
5999    2.3540
Name: salePrice, Length: 6000, dtype: float64

In [84]:
dfStreetGB = df.groupby(['city', 'district', 'street']).count().reset_index()

In [62]:
dfStreetGB.concat(df.groupby('street').salePrice.transform(lambda x: x.dropna().sort_values().head(7).sum()))

AttributeError: 'DataFrame' object has no attribute 'concat'

In [61]:
df.groupby('street')['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum())

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_8404/2000241605.py, line 1)

In [70]:
dfNew = pd.concat([dfStreetGB, df.groupby('street').salePrice.transform(lambda x: x.dropna().sort_values().head(7).sum())])

In [72]:
dfStreetGB

,city,district,street,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,unit,ownerName,salePrice,ownerNameLower
0,Beige Bay,Muddy Mountains,Clay Circus,70,70,70,70,70,70,70,53,70,70,63,1,63
1,Beige Bay,Muddy Mountains,Rough Road,70,70,70,70,70,70,70,58,70,70,59,5,59
2,Beige Bay,Muddy Mountains,Wanderers Way,70,70,70,70,70,70,70,52,70,70,54,6,54
3,Beige Bay,Sandy Secrets,Cobra Cove,70,70,70,70,70,70,70,57,70,70,63,5,63
4,Beige Bay,Sandy Secrets,Dynamic Dunes,70,70,70,70,70,70,70,54,70,70,60,3,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,Yellow Yards,Lemon Lands,Peaky Parkway,70,70,70,70,70,70,70,53,70,70,56,10,56
100,Yellow Yards,Lemon Lands,Squeezy Street,70,70,70,70,70,70,70,51,70,70,60,4,60
101,Yellow Yards,Sunny Sands,Goldmann Lane,70,70,70,70,70,70,70,47,70,70,55,6,55
102,Yellow Yards,Sunny Sands,Shiny Street,70,70,70,70,70,70,70,46,70,70,49,6,49
103,Yellow Yards,Sunny Sands,Sunray Road,70,70,70,70,70,70,70,45,70,70,58,7,58

In [73]:
dfStreetGB = df.groupby('street').count()

In [74]:
dfStreetGB

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,ownerName,salePrice,ownerNameLower
street,,,,,,,,,,,,,,,
Amethyst Avenue,70,70,70,70,70,70,70,45,70,70,70,70,61,6,61
Ancient Labyrinth,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
Ape Gang Avenue,70,70,70,70,70,70,70,51,70,70,70,70,59,9,59
Ares Alpines,70,70,70,70,70,70,70,48,70,70,70,70,58,10,58
Beam Boulevard,70,70,70,70,70,70,70,51,70,70,70,70,62,12,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wanderers Way,70,70,70,70,70,70,70,52,70,70,70,70,54,6,54
Wasabi Way,70,70,70,70,70,70,70,50,70,70,70,70,56,5,56
Wavy Way,70,70,70,70,70,70,70,56,70,70,70,70,60,9,60
Wine Way,70,70,70,70,70,70,70,56,70,70,70,70,60,9,60
Winston Way,70,70,70,70,70,70,70,57,70,70,70,70,64,7,64

In [75]:
df

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower
0,33885717,0,https://lh3.googleusercontent.com/-L15u-N-k7tU...,https://lh3.googleusercontent.com/-L15u-N-k7tU...,https://lh3.googleusercontent.com/-L15u-N-k7tU...,Property's #05-02-05-3a,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x8dd2da1f1939ab094d2ef170434bac731a0bf21f,Violet Ville,58,Purple Palms,Lobelia Lane,NaN,NaN,NaN
1,67241028,0,https://lh3.googleusercontent.com/UigEJpp0RT9S...,https://lh3.googleusercontent.com/UigEJpp0RT9S...,https://lh3.googleusercontent.com/UigEJpp0RT9S...,Property's #07-01-01-2e,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xd79521f2b62a9800b546b22e891d546e25d8f0c0,Terrestial Town,46,X AE X-II,Levitating Lavas,BunnyBabs,3.42,bunnybabs
2,50397456,1,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,Property's #01-04-0c-21,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.27,0x14ce500a86f1e3ace039571e657783e069643617,Muddy Mountains,33,Beige Bay,Rough Road,milonglong,NaN,milonglong
3,100729392,0,https://lh3.googleusercontent.com/FkKwQanoS3aB...,https://lh3.googleusercontent.com/FkKwQanoS3aB...,https://lh3.googleusercontent.com/FkKwQanoS3aB...,Property's #02-04-0a-17,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xb345b6168839fef50a767afad646b4fc96c0612e,Apricot Alley,23,Orange Oasis,Licky Loops,Fuckyounotime,1.00,fuckyounotime
4,67374115,0,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,Property's #02-03-08-39,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x8dd2da1f1939ab094d2ef170434bac731a0bf21f,Tangerine Tinies,57,Orange Oasis,Dreamy Drive,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,100729665,0,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,Property's #07-03-08-11,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Elon Estates,17,X AE X-II,Musky Alley,NaN,NaN,NaN
5996,117639471,0,https://lh3.googleusercontent.com/t0b2-9RahhXn...,https://lh3.googleusercontent.com/t0b2-9RahhXn...,https://lh3.googleusercontent.com/t0b2-9RahhXn...,Property's #05-04-0c-04,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Lazy Lavenders,4,Purple Palms,Scented Street,NaN,NaN,NaN
5997,16909374,0,https://lh3.googleusercontent.com/HaOhBy_20vsG...,https://lh3.googleusercontent.com/HaOhBy_20vsG...,https://lh3.googleusercontent.com/HaOhBy_20vsG...,Property's #07-01-02-09,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Terrestial Town,9,X AE X-II,Ares Alpines,NaN,NaN,NaN
5998,84151355,0,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,Property's #07-03-08-1d,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Elon Estates,29,X AE X-II,Musky Alley,NaN,NaN,NaN
5999,67175235,2,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,Property's #04-03-09-18,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.42,0x75eb4463036aa17d079e97ee811820efe7a26a9c,Emerald Ends,24,Green Grove,Hammer Hill,NFTlogistics,NaN,nftlogistics

In [95]:
dfNew = df.groupby(['city', 'district', 'street'])['salePrice'].count().reset_index()

In [105]:
dfCheapestStreets = pd.concat([dfNew, df.groupby('street')['salePrice'].transform(lambda x: x.sort_values().head(7).sum())])

In [106]:
dfCheapestStreets

          0       city         district  salePrice         street
0       NaN  Beige Bay  Muddy Mountains        1.0    Clay Circus
1       NaN  Beige Bay  Muddy Mountains        5.0     Rough Road
2       NaN  Beige Bay  Muddy Mountains        6.0  Wanderers Way
3       NaN  Beige Bay    Sandy Secrets        5.0     Cobra Cove
4       NaN  Beige Bay    Sandy Secrets        3.0  Dynamic Dunes
...     ...        ...              ...        ...            ...
5995  8.648        NaN              NaN        NaN            NaN
5996  2.980        NaN              NaN        NaN            NaN
5997  8.480        NaN              NaN        NaN            NaN
5998  8.648        NaN              NaN        NaN            NaN
5999  2.354        NaN              NaN        NaN            NaN

[6104 rows x 5 columns]

In [107]:
df.groupby('street')['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum())

0       3.4350
1       6.8769
2       1.7640
3       2.6600
4       2.2568
         ...
5995    8.6480
5996    2.9800
5997    8.4800
5998    8.6480
5999    2.3540
Name: salePrice, Length: 6000, dtype: float64

In [164]:
df.groupby(['city', 'district', 'street'])['salePrice'].count()

city          district         street
Beige Bay     Muddy Mountains  Clay Circus        1
                               Rough Road         5
                               Wanderers Way      6
              Sandy Secrets    Cobra Cove         5
                               Dynamic Dunes      3
                                                 ..
Yellow Yards  Lemon Lands      Peaky Parkway     10
                               Squeezy Street     4
              Sunny Sands      Goldmann Lane      6
                               Shiny Street       6
                               Sunray Road        7
Name: salePrice, Length: 104, dtype: int64

In [166]:
df.groupby(['city','district','street'])['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum())

      index  salePrice
0         0     3.4350
1         1     6.8769
2         2     1.7640
3         3     2.6600
4         4     2.2568
...     ...        ...
5995   5995     8.6480
5996   5996     2.9800
5997   5997     8.4800
5998   5998     8.6480
5999   5999     2.3540

[6000 rows x 2 columns]

In [160]:
dfStreetPrices['cheapestStreet'] = df.groupby('street')['salePrice'].transform(lambda x: x.dropna().sort_values().head(7).sum())

In [161]:
dfStreetPrices

             city         district          street  salePrice  cheapestStreet
0       Beige Bay  Muddy Mountains     Clay Circus     0.4444          3.4350
1       Beige Bay  Muddy Mountains      Rough Road     1.7640          6.8769
2       Beige Bay  Muddy Mountains   Wanderers Way     2.5220          1.7640
3       Beige Bay    Sandy Secrets      Cobra Cove     3.7978          2.6600
4       Beige Bay    Sandy Secrets   Dynamic Dunes     0.7200          2.2568
..            ...              ...             ...        ...             ...
99   Yellow Yards      Lemon Lands   Peaky Parkway     5.4080          3.1790
100  Yellow Yards      Lemon Lands  Squeezy Street     1.5850          6.2200
101  Yellow Yards      Sunny Sands   Goldmann Lane     2.1874          6.6000
102  Yellow Yards      Sunny Sands    Shiny Street     1.6490          3.5300
103  Yellow Yards      Sunny Sands     Sunray Road    12.1990          5.3750

[104 rows x 5 columns]

In [148]:
dfStreetPrices['total'] = df.groupby(['city', 'district', 'street'])['salePrice'].transform('sum')

In [149]:
dfStreetPrices

                street  salePrice    total  cheapestStreet
0      Amethyst Avenue          6   3.4350          3.4350
1    Ancient Labyrinth          0  26.7967          6.8769
2      Ape Gang Avenue          9   1.7640          1.7640
3         Ares Alpines         10   6.5400          2.6600
4       Beam Boulevard         12   6.4868          2.2568
..                 ...        ...      ...             ...
99       Wanderers Way          6  53.1790          3.1790
100         Wasabi Way          5  23.8200          6.2200
101           Wavy Way          9  15.8000          6.6000
102           Wine Way          9   3.5300          3.5300
103        Winston Way          7   8.6150          5.3750

[104 rows x 4 columns]

In [150]:
dfStreetPrices2['total'] = df.groupby(['city', 'district', 'street'])['salePrice'].transform('sum')

NameError: name 'dfStreetPrices2' is not defined

In [159]:
dfStreetPrices

             city         district          street  salePrice
0       Beige Bay  Muddy Mountains     Clay Circus     0.4444
1       Beige Bay  Muddy Mountains      Rough Road     1.7640
2       Beige Bay  Muddy Mountains   Wanderers Way     2.5220
3       Beige Bay    Sandy Secrets      Cobra Cove     3.7978
4       Beige Bay    Sandy Secrets   Dynamic Dunes     0.7200
..            ...              ...             ...        ...
99   Yellow Yards      Lemon Lands   Peaky Parkway     5.4080
100  Yellow Yards      Lemon Lands  Squeezy Street     1.5850
101  Yellow Yards      Sunny Sands   Goldmann Lane     2.1874
102  Yellow Yards      Sunny Sands    Shiny Street     1.6490
103  Yellow Yards      Sunny Sands     Sunray Road    12.1990

[104 rows x 4 columns]

In [231]:
dfAvailableStreets = df.groupby('street')[['salePrice']].apply(lambda x: x.sort_values(by='salePrice').head(7).sum() if (x.count() > 6).bool() else -1)

In [232]:
dfAvailableStreets

street
Amethyst Avenue                                     -1
Ancient Labyrinth                                   -1
Ape Gang Avenue       salePrice    6.22
dtype: float64
Ares Alpines          salePrice    8.48
dtype: float64
Beam Boulevard       salePrice    5.282
dtype: float64
                                   ...
Wanderers Way                                       -1
Wasabi Way                                          -1
Wavy Way               salePrice    6.3
dtype: float64
Wine Way              salePrice    4.84
dtype: float64
Winston Way          salePrice    2.967
dtype: float64
Length: 104, dtype: object

In [288]:
dfAvailableStreets = df.groupby(['city', 'district', 'street'])['salePrice'].apply(lambda x: x.sort_values().head(7).sum() if x.count() > 6 else None).to_frame().dropna().sort_values(by='salePrice').reset_index()

In [264]:
dfAvailableStreets

             city          district            street  salePrice
0       Beige Bay     Tobacco Trees        Lucky Lane     1.9430
1    Orange Oasis       Mount Mango   Naranja Narrows     1.9790
2       Beige Bay      Wasted Woods         Leaf Lane     1.9950
3       Beige Bay      Wasted Woods       Lumber Lake     2.0700
4       Beige Bay         The Soils       Pigeon Park     2.1009
5    Orange Oasis  Tangerine Tinies      Dreamy Drive     2.2568
6     Green Grove      Emerald Ends       Hammer Hill     2.3540
7       Beige Bay         The Soils       Seed Street     2.4024
8    Yellow Yards       Lemon Lands     Peaky Parkway     2.5780
9    Orange Oasis  Tangerine Tinies       Little Lane     2.6150
10   Orange Oasis     Apricot Alley       Licky Loops     2.6600
11    Green Grove     Froggy Forest         Root Road     2.6970
12      Beige Bay      Wasted Woods          Icy Isle     2.7300
13   Orange Oasis      Port Pumpkin        Scary Road     2.8640
14   Orange Oasis       Carrot Cove     Eyesight Road     2.8660
15    Green Grove     Froggy Forest      Spicy Stream     2.9280
16      Beige Bay     Tobacco Trees       Winston Way     2.9670
17   Orange Oasis  Tangerine Tinies    Tiny Community     3.0559
18   Orange Oasis       Mount Mango        Juice Road     3.1790
19    Green Grove   Avocado Avenues        Pagua Path     3.1829
20      Beige Bay         The Soils       Rusty Ridge     3.5300
21  Purple Palms     Lazy Lavenders     Fragrant Farm     3.9520
22  Purple Palms       Violet Ville    Cider Crescent     3.9521
23  Purple Palms     Grapey Gardens       Raisin Road     4.4530
24    Green Grove     Basil Borough        Fort Wenty     4.4600
25  Purple Palms     Berrington Bay    Raspberry Road     4.5989
26  Purple Palms     Grapey Gardens          Wine Way     4.8400
27   Blue Bayside      Starry Skies    Beam Boulevard     5.2820
28  Purple Palms     Lazy Lavenders      Mauve Meadow     5.3750
29   Blue Bayside      San Sapphire     Hexagon Hills     5.6200
30   Yellow Yards    Buenas Bananas      Gorilla Gate     5.8350
31      X AE X-II   Terrestial Town    Volcanic Ville     5.8350
32      X AE X-II     Orbital Oasis    Carmine Circus     5.8370
33   Blue Bayside      Starry Skies    Galactic Gates     5.9300
34   Blue Bayside      San Sapphire   Refractive Road     6.0200
35      X AE X-II     Orbital Oasis         Ruby Rise     6.0250
36  Purple Palms     Berrington Bay   Blueberry Beach     6.1550
37   Yellow Yards    Buenas Bananas   Ape Gang Avenue     6.2200
38   Blue Bayside     Oyster Oceans          Wavy Way     6.3000
39   Blue Bayside     Oyster Oceans      Divers Drive     6.6000
40   Blue Bayside      San Sapphire    Polished Plaza     6.7170
41      X AE X-II   Terrestial Town  Levitating Lavas     6.8769
42      X AE X-II     Orbital Oasis        Rover Road     7.0790
43  Purple Palms     Grapey Gardens     Shiraz Square     7.7590
44      X AE X-II   Terrestial Town      Ares Alpines     8.4800
45      X AE X-II      Elon Estates       Musky Alley     8.6480
46    Green Grove   Avocado Avenues     Guaca Gardens     8.7490
47      X AE X-II      Elon Estates      Rocket Ridge     9.6790
48   Yellow Yards       Sunny Sands       Sunray Road    12.1990
49      X AE X-II      Elon Estates     Ecliptic Ends    13.6500
50        Special           Special    Mystical Rocks    53.3890

In [332]:
brixDict = {
    'Beige Bay': {'house': 10, 'street': 370, 'district': 1470, 'city': 9050},
    'Orange Oasis': {'house': 20, 'street': 490, 'district': 1790, 'city': 11550},
    'Yellow Yards': {'house': 30, 'street': 610, 'district': 2110, 'city': 11520},
    'Green Grove': {'house': 40, 'street': 730, 'district': 2430, 'city': 13560},
    'Purple Palms': {'house': 50, 'street': 850, 'district': 2750, 'city': 15600},
    'Blue Bayside': {'house': 60, 'street': 970, 'district': 3070, 'city': 13730},
    'X AE X-II': {'house': 80, 'street': 1210, 'district': 4110, 'city': 19990},
    'Special': {'street': 0}
}

In [265]:
dfAvailableStreets['brix/eth'] = brixDict[dfAvailableStreets['city']]['street'] / dfAvailableStreets['salePrice']

TypeError: unhashable type: 'Series'

In [266]:
brixDict['Beige Bay']['street']

370

In [267]:
dfAvailableStreets['city']

0         Beige Bay
1      Orange Oasis
2         Beige Bay
3         Beige Bay
4         Beige Bay
5      Orange Oasis
6       Green Grove
7         Beige Bay
8      Yellow Yards
9      Orange Oasis
10     Orange Oasis
11      Green Grove
12        Beige Bay
13     Orange Oasis
14     Orange Oasis
15      Green Grove
16        Beige Bay
17     Orange Oasis
18     Orange Oasis
19      Green Grove
20        Beige Bay
21    Purple Palms
22    Purple Palms
23    Purple Palms
24      Green Grove
25    Purple Palms
26    Purple Palms
27     Blue Bayside
28    Purple Palms
29     Blue Bayside
30     Yellow Yards
31        X AE X-II
32        X AE X-II
33     Blue Bayside
34     Blue Bayside
35        X AE X-II
36    Purple Palms
37     Yellow Yards
38     Blue Bayside
39     Blue Bayside
40     Blue Bayside
41        X AE X-II
42        X AE X-II
43    Purple Palms
44        X AE X-II
45        X AE X-II
46      Green Grove
47        X AE X-II
48     Yellow Yards
49        X AE X-II
50          Special
Name: city, dtype: object

In [272]:
brixDict[dfAvailableStreets['city'].astype(str)]

TypeError: unhashable type: 'Series'

In [281]:
brixDict[dfAvailableStreets['city'].values[0]]['street']

370

In [285]:
dfAvailableStreets['city', 'salePrice'].transform(lambda x: brixDict[x['city']])

KeyError: ('city', 'salePrice')

In [286]:
dfAvailableStreets['brixYield'] = dfAvailableStreets.city.map(brixDict)

In [345]:
dfAvailableStreets = dfAvailableStreets[dfAvailableStreets.city != 'Special']

In [346]:
dfAvailableStreets['brixYield'] = dfAvailableStreets.apply(lambda x: brixDict[str(x['city']).strip()]['street'], axis=1)

In [328]:
brixDict['X AE A-II']

KeyError: 'X AE X-II'

In [347]:
dfAvailableStreets['brix/eth'] = dfAvailableStreets['brixYield'] / dfAvailableStreets['salePrice']

In [350]:
dfAvailableStreets.round({'brix/eth': 2}).reset_index(drop=True, inplace=True)

In [367]:
dfAvailableStreets.head(1).round({'salePrice': 2, 'brix/eth': 2})

        city       district      street  salePrice  brixYield  brix/eth
0  Beige Bay  Tobacco Trees  Lucky Lane       1.94        370    190.43

In [368]:
dfAvailableStreets = dfAvailableStreets.round({'salePrice': 2, 'brix/eth': 2})

In [369]:
dfAvailableStreets

,city,district,street,salePrice,brixYield,brix/eth
0,Beige Bay,Tobacco Trees,Lucky Lane,1.94,370,190.43
1,Orange Oasis,Mount Mango,Naranja Narrows,1.98,490,247.60
2,Beige Bay,Wasted Woods,Leaf Lane,2.00,370,185.46
3,Beige Bay,Wasted Woods,Lumber Lake,2.07,370,178.74
4,Beige Bay,The Soils,Pigeon Park,2.10,370,176.11
5,Orange Oasis,Tangerine Tinies,Dreamy Drive,2.26,490,217.12
6,Green Grove,Emerald Ends,Hammer Hill,2.35,730,310.11
7,Beige Bay,The Soils,Seed Street,2.40,370,154.01
8,Yellow Yards,Lemon Lands,Peaky Parkway,2.58,610,236.62
9,Orange Oasis,Tangerine Tinies,Little Lane,2.62,490,187.38
10,Orange Oasis,Apricot Alley,Licky Loops,2.66,490,184.21
11,Green Grove,Froggy Forest,Root Road,2.70,730,270.67
12,Beige Bay,Wasted Woods,Icy Isle,2.73,370,135.53
13,Orange Oasis,Port Pumpkin,Scary Road,2.86,490,171.09
14,Orange Oasis,Carrot Cove,Eyesight Road,2.87,490,170.97
15,Green Grove,Froggy Forest,Spicy Stream,2.93,730,249.32
16,Beige Bay,Tobacco Trees,Winston Way,2.97,370,124.71
17,Orange Oasis,Tangerine Tinies,Tiny Community,3.06,490,160.35
18,Orange Oasis,Mount Mango,Juice Road,3.18,490,154.14
19,Green Grove,Avocado Avenues,Pagua Path,3.18,730,229.35
20,Beige Bay,The Soils,Rusty Ridge,3.53,370,104.82
21,Purple Palms,Lazy Lavenders,Fragrant Farm,3.95,850,215.08
22,Purple Palms,Violet Ville,Cider Crescent,3.95,850,215.08
23,Purple Palms,Grapey Gardens,Raisin Road,4.45,850,190.88
24,Green Grove,Basil Borough,Fort Wenty,4.46,730,163.68
25,Purple Palms,Berrington Bay,Raspberry Road,4.60,850,184.83
26,Purple Palms,Grapey Gardens,Wine Way,4.84,850,175.62
27,Blue Bayside,Starry Skies,Beam Boulevard,5.28,970,183.64
28,Purple Palms,Lazy Lavenders,Mauve Meadow,5.38,850,158.14
29,Blue Bayside,San Sapphire,Hexagon Hills,5.62,970,172.60
30,Yellow Yards,Buenas Bananas,Gorilla Gate,5.84,610,104.54
31,X AE X-II,Terrestial Town,Volcanic Ville,5.84,1210,207.37
32,X AE X-II,Orbital Oasis,Carmine Circus,5.84,1210,207.30
33,Blue Bayside,Starry Skies,Galactic Gates,5.93,970,163.58
34,Blue Bayside,San Sapphire,Refractive Road,6.02,970,161.13
35,X AE X-II,Orbital Oasis,Ruby Rise,6.02,1210,200.83
36,Purple Palms,Berrington Bay,Blueberry Beach,6.16,850,138.10
37,Yellow Yards,Buenas Bananas,Ape Gang Avenue,6.22,610,98.07
38,Blue Bayside,Oyster Oceans,Wavy Way,6.30,970,153.97
39,Blue Bayside,Oyster Oceans,Divers Drive,6.60,970,146.97
40,Blue Bayside,San Sapphire,Polished Plaza,6.72,970,144.41
41,X AE X-II,Terrestial Town,Levitating Lavas,6.88,1210,175.95
42,X AE X-II,Orbital Oasis,Rover Road,7.08,1210,170.93
43,Purple Palms,Grapey Gardens,Shiraz Square,7.76,850,109.55
44,X AE X-II,Terrestial Town,Ares Alpines,8.48,1210,142.69
45,X AE X-II,Elon Estates,Musky Alley,8.65,1210,139.92
46,Green Grove,Avocado Avenues,Guaca Gardens,8.75,730,83.44
47,X AE X-II,Elon Estates,Rocket Ridge,9.68,1210,125.01
48,Yellow Yards,Sunny Sands,Sunray Road,12.20,610,50.00
49,X AE X-II,Elon Estates,Ecliptic Ends,13.65,1210,88.64

In [374]:
dfStreet.where(dfStreet['salePrice'] > 0).dropna().sort_values(by='salePrice')

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower,cheapestStreet
804,33686594.0,1.0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-1b,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.4000,0xdc39413d32af0571cbe35b2be6dca1558a1cb222,Oyster Oceans,27.0,Blue Bayside,Divers Drive,liolio,0.59,liolio,6.6
2948,67307327.0,2.0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-0a,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.2750,0xf24ef0196fa9fd2903b32e3b67ca9bfb944f9691,Oyster Oceans,10.0,Blue Bayside,Divers Drive,NT141319,1.00,nt141319,6.6
5295,16843533.0,2.0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-14,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.1850,0x74d5edf85139c6289f2ee1ff49dd8e1864b0104c,Oyster Oceans,20.0,Blue Bayside,Divers Drive,hagerlight,1.20,hagerlight,6.6
2617,67175173.0,1.0,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,https://lh3.googleusercontent.com/AaTP-KNkZS93...,Property's #06-02-06-1f,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.1099,0x3e7ad2703e4f2029e617ad9e52d62a3827a415fe,Oyster Oceans,31.0,Blue Bayside,Divers Drive,1v1up,1.80,1v1up,6.6

In [378]:
df

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower
0,33885717,0,https://lh3.googleusercontent.com/-L15u-N-k7tU...,https://lh3.googleusercontent.com/-L15u-N-k7tU...,https://lh3.googleusercontent.com/-L15u-N-k7tU...,Property's #05-02-05-3a,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x8dd2da1f1939ab094d2ef170434bac731a0bf21f,Violet Ville,58,Purple Palms,Lobelia Lane,NaN,NaN,NaN
1,67241028,0,https://lh3.googleusercontent.com/UigEJpp0RT9S...,https://lh3.googleusercontent.com/UigEJpp0RT9S...,https://lh3.googleusercontent.com/UigEJpp0RT9S...,Property's #07-01-01-2e,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xd79521f2b62a9800b546b22e891d546e25d8f0c0,Terrestial Town,46,X AE X-II,Levitating Lavas,BunnyBabs,3.42,bunnybabs
2,50397456,1,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,https://lh3.googleusercontent.com/wb-M3t8HG0n3...,Property's #01-04-0c-21,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.27,0x14ce500a86f1e3ace039571e657783e069643617,Muddy Mountains,33,Beige Bay,Rough Road,milonglong,NaN,milonglong
3,100729392,0,https://lh3.googleusercontent.com/FkKwQanoS3aB...,https://lh3.googleusercontent.com/FkKwQanoS3aB...,https://lh3.googleusercontent.com/FkKwQanoS3aB...,Property's #02-04-0a-17,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xb345b6168839fef50a767afad646b4fc96c0612e,Apricot Alley,23,Orange Oasis,Licky Loops,Fuckyounotime,1.00,fuckyounotime
4,67374115,0,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,https://lh3.googleusercontent.com/EYUGEzeS0LFj...,Property's #02-03-08-39,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x8dd2da1f1939ab094d2ef170434bac731a0bf21f,Tangerine Tinies,57,Orange Oasis,Dreamy Drive,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,100729665,0,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,Property's #07-03-08-11,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Elon Estates,17,X AE X-II,Musky Alley,NaN,NaN,NaN
5996,117639471,0,https://lh3.googleusercontent.com/t0b2-9RahhXn...,https://lh3.googleusercontent.com/t0b2-9RahhXn...,https://lh3.googleusercontent.com/t0b2-9RahhXn...,Property's #05-04-0c-04,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Lazy Lavenders,4,Purple Palms,Scented Street,NaN,NaN,NaN
5997,16909374,0,https://lh3.googleusercontent.com/HaOhBy_20vsG...,https://lh3.googleusercontent.com/HaOhBy_20vsG...,https://lh3.googleusercontent.com/HaOhBy_20vsG...,Property's #07-01-02-09,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Terrestial Town,9,X AE X-II,Ares Alpines,NaN,NaN,NaN
5998,84151355,0,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,https://lh3.googleusercontent.com/lBRKf-5EwNIS...,Property's #07-03-08-1d,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0x75dd8773c3dbc4e3346838fffd526043e07f59bd,Elon Estates,29,X AE X-II,Musky Alley,NaN,NaN,NaN
5999,67175235,2,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,https://lh3.googleusercontent.com/qrZwB_Ysgih8...,Property's #04-03-09-18,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.42,0x75eb4463036aa17d079e97ee811820efe7a26a9c,Emerald Ends,24,Green Grove,Hammer Hill,NFTlogistics,NaN,nftlogistics

In [379]:
dfOwnerStreet

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
1,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,Cobra Cove,1,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,Trick Or Street,1,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,Lobelia Lane,1,0
4,0x00cc46b6f0226a5cfa094755ea5b42db71409fb9,romanlux,romanlux,Yellow Yards,Lemon Lands,Citrus Circus,1,0
...,...,...,...,...,...,...,...,...
4037,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,Carved Lane,1,0
4038,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,Lobelia Lane,1,0
4039,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
4040,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,Lucky Lane,1,0
4041,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Purple Palms,Berrington Bay,Strawberry Square,1,0

In [383]:
df.loc[df['street']=="Property's Stadium"]

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower
504,33753409,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1a,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.137,0x2ecfb2f430cacb4b8361e8f5a08e6c76e42410be,Special,1,Special,Property's Stadium,neurodegen,NaN,neurodegen
696,67373585,0,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1d,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xbef766261651d6766227917d2f314b1daaae0009,Special,4,Special,Property's Stadium,Jrod73089,NaN,jrod73089
2209,17042210,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1c,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.122,0x07da5ffc931762f618221e7c222eb0a7c31f12d7,Special,3,Special,Property's Stadium,None,NaN,None
4345,16976129,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1b,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.160,0x9d770427a0b3234100a0c147f00158def8750eac,Special,2,Special,Property's Stadium,_no-name_,NaN,_no-name_
5311,33819146,2,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1e,https://opensea.io/assets/0x18cb9db75fa62a9717...,1.200,0x22e44c61d9daa3dfbe9a592b1a0767d599dd0987,Special,5,Special,Property's Stadium,DanNortSo,4.69,dannortso

In [385]:
dfOwnerStreet.loc[dfOwnerStreet['street']=="Property's Stadium"]

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
550,0x22e44c61d9daa3dfbe9a592b1a0767d599dd0987,DanNortSo,dannortso,Special,Special,Property's Stadium,1,0
735,0x2ecfb2f430cacb4b8361e8f5a08e6c76e42410be,neurodegen,neurodegen,Special,Special,Property's Stadium,1,0
2509,0x9d770427a0b3234100a0c147f00158def8750eac,_no-name_,_no-name_,Special,Special,Property's Stadium,1,0
3029,0xbef766261651d6766227917d2f314b1daaae0009,Jrod73089,jrod73089,Special,Special,Property's Stadium,1,0

In [391]:
gb_owner_street = df.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district', 'street'], dropna=False)

In [392]:
df_owner_street = gb_owner_street.size().reset_index(name='propertyCount')

In [393]:
df_owner_street.loc[df_owner_street['street']=="Property's Stadium"]

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount
128,0x07da5ffc931762f618221e7c222eb0a7c31f12d7,NaN,NaN,Special,Special,Property's Stadium,1
697,0x22e44c61d9daa3dfbe9a592b1a0767d599dd0987,DanNortSo,dannortso,Special,Special,Property's Stadium,1
934,0x2ecfb2f430cacb4b8361e8f5a08e6c76e42410be,neurodegen,neurodegen,Special,Special,Property's Stadium,1
3131,0x9d770427a0b3234100a0c147f00158def8750eac,_no-name_,_no-name_,Special,Special,Property's Stadium,1
3784,0xbef766261651d6766227917d2f314b1daaae0009,Jrod73089,jrod73089,Special,Special,Property's Stadium,1

In [390]:
df.loc[df['street']=="Property's Stadium"]

,tokenId,numSales,imageUrl,imagePreviewUrl,imageThumbnailUrl,name,osLink,lastSale,ownerAddress,district,unit,city,street,ownerName,salePrice,ownerNameLower
504,33753409,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1a,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.137,0x2ecfb2f430cacb4b8361e8f5a08e6c76e42410be,Special,1,Special,Property's Stadium,neurodegen,NaN,neurodegen
696,67373585,0,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1d,https://opensea.io/assets/0x18cb9db75fa62a9717...,NaN,0xbef766261651d6766227917d2f314b1daaae0009,Special,4,Special,Property's Stadium,Jrod73089,NaN,jrod73089
2209,17042210,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1c,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.122,0x07da5ffc931762f618221e7c222eb0a7c31f12d7,Special,3,Special,Property's Stadium,None,NaN,None
4345,16976129,1,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1b,https://opensea.io/assets/0x18cb9db75fa62a9717...,0.160,0x9d770427a0b3234100a0c147f00158def8750eac,Special,2,Special,Property's Stadium,_no-name_,NaN,_no-name_
5311,33819146,2,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,https://lh3.googleusercontent.com/Bzc-Hh7_g3-U...,Property's #00-00-00-1e,https://opensea.io/assets/0x18cb9db75fa62a9717...,1.200,0x22e44c61d9daa3dfbe9a592b1a0767d599dd0987,Special,5,Special,Property's Stadium,DanNortSo,4.69,dannortso

In [394]:
 # District level grouping
gb_owner_district = df_owner_street.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district'], dropna=False)
df_owner_district = gb_owner_district.streetCount.agg(sum).reset_index(name='streetsInDistrict')
df_owner_district['districtCount'] = np.floor_divide(df_owner_district['streetsInDistrict'], 3)

# City level grouping
gb_owner_city = df_owner_district.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city'], dropna=False)
df_owner_city = gb_owner_city.districtCount.agg(sum).reset_index(name='districtsInCity')
df_owner_city['cityCount'] = np.floor_divide(df_owner_city['districtsInCity'], 3)   

# Create top 10 dataframes (not worth doing City owners yet)
df_top_owners = df.groupby(['ownerAddress', 'ownerName'], dropna=False) \
    .size().reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_street_owners = df_owner_street.groupby(['ownerAddress','ownerName'], dropna=False) \
    .streetCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_street_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_district_owners = df_owner_district.groupby(['ownerAddress','ownerName'], dropna=False) \
    .districtCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_district_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_city_owners = df_owner_city.groupby(['ownerAddress','ownerName'], dropna=False) \
    .cityCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_city_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

AttributeError: 'DataFrameGroupBy' object has no attribute 'streetCount'

In [25]:
 gb_owner_street = df.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district', 'street'], dropna=False)
df_owner_street = gb_owner_street.size().reset_index(name='propertyCount')
df_owner_street['streetCount'] = np.floor_divide(df_owner_street['propertyCount'], 7)

# District level grouping
gb_owner_district = df_owner_street.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city', 'district'], dropna=False)
df_owner_district = gb_owner_district.streetCount.agg(sum).reset_index(name='streetsInDistrict')
df_owner_district['districtCount'] = np.floor_divide(df_owner_district['streetsInDistrict'], 3)

# City level grouping
gb_owner_city = df_owner_district.groupby(['ownerAddress', 'ownerName', 'ownerNameLower', 'city'], dropna=False)
df_owner_city = gb_owner_city.districtCount.agg(sum).reset_index(name='districtsInCity')
df_owner_city['cityCount'] = np.floor_divide(df_owner_city['districtsInCity'], 3)   

# Create top 10 dataframes (not worth doing City owners yet)
df_top_owners = df.groupby(['ownerAddress', 'ownerName'], dropna=False) \
.size().reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_street_owners = df_owner_street.groupby(['ownerAddress','ownerName'], dropna=False) \
.streetCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_street_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_district_owners = df_owner_district.groupby(['ownerAddress','ownerName'], dropna=False) \
.districtCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_district_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

df_top_city_owners = df_owner_city.groupby(['ownerAddress','ownerName'], dropna=False) \
.cityCount.agg(sum).reset_index(name='count').sort_values(by='count', ascending=False).head(10)
df_top_city_owners.index = pd.RangeIndex(start=1, stop=11, step=1)

In [398]:
df_top_city_owners.loc[df_top_city_owners['count']>0]

                                 ownerAddress ownerName  count
1  0x302f23818ecc618f728beb5383195fc146123fc1    NFT0NY      1

In [26]:
df_owner_street

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
1,0x0036052fe7b5ea7f67b61f734e9892b42a32bed4,NaN,NaN,Purple Palms,Violet Ville,Amethyst Avenue,1,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,Cobra Cove,1,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,Trick Or Street,1,0
4,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,Lobelia Lane,1,0
...,...,...,...,...,...,...,...,...
4974,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,Carved Lane,1,0
4975,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,Lobelia Lane,1,0
4976,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
4977,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,Lucky Lane,1,0
4978,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Purple Palms,Berrington Bay,Strawberry Square,1,0

In [27]:
df_owner_street_filtered = df_owner_street.loc[df_owner_street['district']=="Muddy Mountains"]

In [28]:
df_owner_street_filtered

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
5,0x005bf045184b67b93b9793778a9e7a191f617300,NaN,NaN,Beige Bay,Muddy Mountains,Rough Road,1,0
6,0x005bf045184b67b93b9793778a9e7a191f617300,NaN,NaN,Beige Bay,Muddy Mountains,Wanderers Way,1,0
38,0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462,YoJurmy,yojurmy,Beige Bay,Muddy Mountains,Clay Circus,1,0
85,0x04fe82a2a3284f629bb501e78e6ddf38702d129c,Knighted,knighted,Beige Bay,Muddy Mountains,Wanderers Way,1,0
95,0x0642d9e3c09b418a34f9ce757bed2b2ea8661475,danielkenjin,danielkenjin,Beige Bay,Muddy Mountains,Rough Road,1,0
...,...,...,...,...,...,...,...,...
4872,0xf97b470bbc20c9fd599691291e7ca1ed2b739974,30434332,30434332,Beige Bay,Muddy Mountains,Clay Circus,1,0
4884,0xfb381acae7a733b9e2c1b88c098ed7d0acc39235,x8k3500,x8k3500,Beige Bay,Muddy Mountains,Wanderers Way,1,0
4920,0xfcb3bbe86b9c3cbc094a789f2b6c7fec20fcfc1d,NFTiko,nftiko,Beige Bay,Muddy Mountains,Rough Road,1,0
4924,0xfd1426b7b7b33685deb4f404426fed1e1a8662ff,trinhster,trinhster,Beige Bay,Muddy Mountains,Clay Circus,1,0
4925,0xfd1426b7b7b33685deb4f404426fed1e1a8662ff,trinhster,trinhster,Beige Bay,Muddy Mountains,Rough Road,1,0

In [29]:
df_owner_district_filtered = df_owner_district[df_owner_district['district']=="Muddy Mountains"]

In [56]:
owner_property_counts = df_owner_street_filtered.groupby('ownerAddress').propertyCount.sum().reset_index()

In [33]:
owner_property_counts

                                   ownerAddress  propertyCount
0    0x005bf045184b67b93b9793778a9e7a191f617300              2
1    0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462              1
2    0x04fe82a2a3284f629bb501e78e6ddf38702d129c              1
3    0x0642d9e3c09b418a34f9ce757bed2b2ea8661475              1
4    0x07587c046d4d4bd97c2d64edbfab1c1fe28a10e5              1
..                                          ...            ...
125  0xf97afce38aafd3a744b1b2a969ed0b946ecc1f41              1
126  0xf97b470bbc20c9fd599691291e7ca1ed2b739974              1
127  0xfb381acae7a733b9e2c1b88c098ed7d0acc39235              1
128  0xfcb3bbe86b9c3cbc094a789f2b6c7fec20fcfc1d              1
129  0xfd1426b7b7b33685deb4f404426fed1e1a8662ff              2

[130 rows x 2 columns]

In [38]:
type(owner_property_counts)

pandas.core.series.Series

In [57]:
pd.merge(df_owner_district_filtered, owner_property_counts, on="ownerAddress")

,ownerAddress,ownerName,ownerNameLower,city,district,streetsInDistrict,districtCount,propertyCount
0,0x005bf045184b67b93b9793778a9e7a191f617300,NaN,NaN,Beige Bay,Muddy Mountains,0,0,2
1,0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462,YoJurmy,yojurmy,Beige Bay,Muddy Mountains,0,0,1
2,0x04fe82a2a3284f629bb501e78e6ddf38702d129c,Knighted,knighted,Beige Bay,Muddy Mountains,0,0,1
3,0x0642d9e3c09b418a34f9ce757bed2b2ea8661475,danielkenjin,danielkenjin,Beige Bay,Muddy Mountains,0,0,1
4,0x07587c046d4d4bd97c2d64edbfab1c1fe28a10e5,Arrky,arrky,Beige Bay,Muddy Mountains,0,0,1
...,...,...,...,...,...,...,...,...
125,0xf97afce38aafd3a744b1b2a969ed0b946ecc1f41,neecov,neecov,Beige Bay,Muddy Mountains,0,0,1
126,0xf97b470bbc20c9fd599691291e7ca1ed2b739974,30434332,30434332,Beige Bay,Muddy Mountains,0,0,1
127,0xfb381acae7a733b9e2c1b88c098ed7d0acc39235,x8k3500,x8k3500,Beige Bay,Muddy Mountains,0,0,1
128,0xfcb3bbe86b9c3cbc094a789f2b6c7fec20fcfc1d,NFTiko,nftiko,Beige Bay,Muddy Mountains,0,0,1
129,0xfd1426b7b7b33685deb4f404426fed1e1a8662ff,trinhster,trinhster,Beige Bay,Muddy Mountains,0,0,2

In [58]:
values = {"ownerName": df_owner_district_filtered['ownerAddress']}

In [59]:
values

{'ownerName': 5       0x005bf045184b67b93b9793778a9e7a191f617300
 34      0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462
 80      0x04fe82a2a3284f629bb501e78e6ddf38702d129c
 90      0x0642d9e3c09b418a34f9ce757bed2b2ea8661475
 98      0x07587c046d4d4bd97c2d64edbfab1c1fe28a10e5
                            ...
 4515    0xf97afce38aafd3a744b1b2a969ed0b946ecc1f41
 4520    0xf97b470bbc20c9fd599691291e7ca1ed2b739974
 4532    0xfb381acae7a733b9e2c1b88c098ed7d0acc39235
 4566    0xfcb3bbe86b9c3cbc094a789f2b6c7fec20fcfc1d
 4570    0xfd1426b7b7b33685deb4f404426fed1e1a8662ff
 Name: ownerAddress, Length: 130, dtype: object}

In [67]:
results =pd.merge(df_owner_district_filtered, owner_property_counts, on="ownerAddress")

In [68]:
type(results)

pandas.core.frame.DataFrame

In [70]:
values = {"ownerName": results['ownerAddress']}

In [72]:
results.fillna(value=values)

,ownerAddress,ownerName,ownerNameLower,city,district,streetsInDistrict,districtCount,propertyCount
0,0x005bf045184b67b93b9793778a9e7a191f617300,0x005bf045184b67b93b9793778a9e7a191f617300,NaN,Beige Bay,Muddy Mountains,0,0,2
1,0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462,YoJurmy,yojurmy,Beige Bay,Muddy Mountains,0,0,1
2,0x04fe82a2a3284f629bb501e78e6ddf38702d129c,Knighted,knighted,Beige Bay,Muddy Mountains,0,0,1
3,0x0642d9e3c09b418a34f9ce757bed2b2ea8661475,danielkenjin,danielkenjin,Beige Bay,Muddy Mountains,0,0,1
4,0x07587c046d4d4bd97c2d64edbfab1c1fe28a10e5,Arrky,arrky,Beige Bay,Muddy Mountains,0,0,1
...,...,...,...,...,...,...,...,...
125,0xf97afce38aafd3a744b1b2a969ed0b946ecc1f41,neecov,neecov,Beige Bay,Muddy Mountains,0,0,1
126,0xf97b470bbc20c9fd599691291e7ca1ed2b739974,30434332,30434332,Beige Bay,Muddy Mountains,0,0,1
127,0xfb381acae7a733b9e2c1b88c098ed7d0acc39235,x8k3500,x8k3500,Beige Bay,Muddy Mountains,0,0,1
128,0xfcb3bbe86b9c3cbc094a789f2b6c7fec20fcfc1d,NFTiko,nftiko,Beige Bay,Muddy Mountains,0,0,1
129,0xfd1426b7b7b33685deb4f404426fed1e1a8662ff,trinhster,trinhster,Beige Bay,Muddy Mountains,0,0,2

In [3]:
import gcsfs

In [4]:
import numpy as np

In [5]:
df = pd.read_json(
    'gcs://propertys-opensea/properties.json',
    storage_options={'token': st.secrets['gcp_service_account']}
)

NameError: name 'st' is not defined

In [8]:
df_orange_oasis = df.loc[df['city']=='Orange Oasis']

In [22]:
df_orange_oasis = df.loc[df['city']=='Orange Oasis'][['ownerAddress','city', 'tokenId']].groupby('ownerAddress')['tokenId'].apply(list).apply(len).sum()

In [16]:
type(df_orange_oasis)

pandas.core.series.Series

In [17]:
df_orange_oasis.to_csv('airdop_tokens.csv')

In [30]:
df_orange_oasis = df.loc[df['city']=='Orange Oasis'][['ownerAddress','city', 'tokenId']].groupby('ownerAddress')['tokenId'].apply(list).reset_index(name='tokenIds')

In [31]:
df_orange_oasis

                                   ownerAddress               tokenIds
0    0x0056db98538704fa5914d259c6e569318e6837f8             [67241220]
1    0x005bf045184b67b93b9793778a9e7a191f617300   [67174935, 50464001]
2    0x0131e3a1cd6b6df5eb56c68c7acbe1e5dc39f935             [16909855]
3    0x01cddb7c619f4d44e86839b8b31ba414febc0d0e   [50596364, 50463788]
4    0x021fe999094c48342ddcfc5db765c26d19a5578d             [33620287]
..                                          ...                    ...
620  0xfdba8ca3a54995101349c6f4c96aba0d1f6ccbda  [17041980, 100861699]
621  0xfdc9fb7ec1a315f5d078ef673eda17f6692db041             [84084502]
622  0xfe36143c591e4c6281aba69e39cfdc74bc926d44             [33620278]
623  0xfeebb7251827a89143049d400573f71f54676adf             [33819418]
624  0xffea101a256b32eea3678ee9e7f987f43c60c9b4  [117572644, 67307783]

[625 rows x 2 columns]

In [32]:
type(df_orange_oasis['tokenIds'])

pandas.core.series.Series

In [34]:
df_orange_oasis['count'] = df_orange_oasis['tokenIds'].size()

TypeError: 'int' object is not callable

In [42]:
df_orange_oasis['tokenIds'].str.len()

0      1
1      2
2      1
3      2
4      1
      ..
620    2
621    1
622    1
623    1
624    2
Name: tokenIds, Length: 625, dtype: int64

In [43]:
df_orange_oasis['count'] = df_orange_oasis['tokenIds'].str.len()

In [56]:
df_orange_oasis[['ownerAddress', 'count', 'tokenIds']].sort_values(by='count', ascending=False).to_csv('airdrop_snapshot.csv', index=False)

KeyError: "['tokenId'] not in index"

In [59]:
df_orange_oasis_ungrouped = df.loc[df['city']=='Orange Oasis']

In [62]:
df_orange_oasis_ungrouped[['ownerAddress', 'tokenId']].sort_values(by='tokenId').to_csv('airdrop_snapshot_v2.csv', index=False)

In [64]:
df.loc[df['city']=='Orange Oasis'][['ownerAddress', 'tokenId']].sort_values(by='tokenId')

                                    ownerAddress    tokenId
4432  0x7f08d733a2c4e65e88975aef8f80fa694ef339c1          1
760   0xc4c3f81b7304b020c5c7938e4e5571057bacf943          3
3523  0x69642a314afc5f8e588deef1578012a58a3c09c8          9
5413  0x78f6c2458b53d0735208992c693bb2b2dafebb52         13
1938  0x4d4f9ede676f634dbd36755c4ee5fdb49377df88         14
...                                          ...        ...
298   0x1187d312074f9c017d6bed1df9754d03ba7b2fd2  117639469
596   0xc5e0355c45af2cc76eb21e291b3c8a6e92064f69  117639474
1255  0x34ee7842ab274cde9603fb94521cb81c73007a46  117639476
1326  0x6f24b0abcce33e3d8fb15ef00bf8bc331ec99af4  117639482
1142  0x4d83328aff0f042c6c5ed6bfb9d7114c5fbc4223  117639492

[1050 rows x 2 columns]

In [65]:
df = pd.read_json('properties.json')

In [66]:
df_orange_oasis_ungrouped = df.loc[df['city']=='Orange Oasis']

In [68]:
df_orange_oasis_ungrouped[['ownerAddress', 'tokenId']].sort_values(by='tokenId').to_csv('airdrop_snapshot_final.csv', index=False)

In [73]:
df_owner = df.loc[df['ownerName']=='bgoat'][['ownerAddress','ownerName','city','district','street']]

In [74]:
df_owner

Empty DataFrame
Columns: [ownerAddress, ownerName, city, district, street]
Index: []

In [77]:
df_owner.groupby('city').count()

Empty DataFrame
Columns: [ownerAddress, ownerName, district, street]
Index: []

In [78]:
df_owner

Empty DataFrame
Columns: [ownerAddress, ownerName, city, district, street]
Index: []

In [89]:
df_owner = df.loc[df['ownerName']=='NFT0NY'][['ownerAddress','ownerName','city','district','street']]

In [98]:
df_owner_cities = df_owner.groupby('city').size().reset_index(name='count')

In [99]:
df_owner_cities.sort_values(by='count', ascending=False)

            city  count
1   Blue Bayside     65
3   Orange Oasis     14
4  Purple Palms      10
6   Yellow Yards      6
0      Beige Bay      5
2    Green Grove      4
5        Special      2

In [88]:
type(df_owner_cities['count'])

pandas.core.series.Series

In [3]:
df_yellow_yards_ungrouped = df.loc[df['city']=='Yellow Yards']

In [4]:
df_yellow_yards_ungrouped[['ownerAddress', 'tokenId']].sort_values(by='tokenId').to_csv('yy_airdrop_snapshot_final.csv', index=False)

In [19]:
df['ownerAddress'].drop_duplicates().to_csv('wallet_addresses.csv', index=False, header=False)

In [10]:
import csv

In [11]:
df['ownerAddress'].drop_duplicates().to_csv('wallet_addresses.csv', index=False, header=False, lineterminator=',', quoting=csv.QUOTE_MINIMAL)

TypeError: to_csv() got an unexpected keyword argument 'lineterminator'

In [18]:
df['ownerAddress'].drop_duplicates().to_csv('wallet_addresses_feb28.csv', index=False, header=False, line_terminator=',', quoting=csv.QUOTE_NONNUMERIC, quotechar="'")

In [20]:
df_special_tokens = df.loc[df['city']=='Special']['tokenId']

In [21]:
df_special_tokens

88      100795456
115      84018696
163      33819664
184      16843318
216      84018217
          ...
5822     50397708
5825     67373621
5927     67373883
5955    100795942
5978     84084756
Name: tokenId, Length: 120, dtype: int64

In [22]:
df_special_tokens.to_csv('special_token_ids.csv', index=False, header=False)

In [35]:
dfOwnerStreet.loc[dfOwnerStreet['streetCount']==0]

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
1,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,Cobra Cove,1,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,Trick Or Street,1,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,Lobelia Lane,1,0
4,0x00ad52965f378de3c48191d21aa430ffb272aa9e,heyitsjes,heyitsjes,Beige Bay,Sandy Secrets,Cobra Cove,2,0
...,...,...,...,...,...,...,...,...
3826,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Mount Mango,Naranja Narrows,1,0
3827,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,Carved Lane,1,0
3828,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,Lobelia Lane,1,0
3829,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
3830,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,Lucky Lane,1,0

In [36]:
dfOwnerGrouped = dfOwnerStreet.groupby('ownerAddress')

In [37]:
dfOwnerGrouped

In [38]:
dfOwnerTotal = dfOwnerGrouped.propertyCount.sum()

In [39]:
dfOwnerTotal

ownerAddress
0x0027d58331121efa6cfd229291745de2feeabf38    1
0x0056db98538704fa5914d259c6e569318e6837f8    3
0x00ad52965f378de3c48191d21aa430ffb272aa9e    5
0x0131e3a1cd6b6df5eb56c68c7acbe1e5dc39f935    1
0x0175f9c11a707e7c73a0a954f5869105105b2ae1    1
                                             ..
0xfeebb7251827a89143049d400573f71f54676adf    6
0xffd971d72f77fefcee7f450eb90a828296e6fd6f    2
0xffdee10cc6d11620de6b899328082caaed5b3f04    3
0xffea101a256b32eea3678ee9e7f987f43c60c9b4    7
0xffef343ca62da5a083677ea3123fdb730ff10a9b    1
Name: propertyCount, Length: 1847, dtype: int64

In [44]:
dfOwnerTotal['streetCount'] = dfOwnerGrouped.streetCount.sum().reset_index(name='propertyCount')

In [45]:
dfOwnerTotal

ownerAddress
0x0027d58331121efa6cfd229291745de2feeabf38                                                    1
0x0056db98538704fa5914d259c6e569318e6837f8                                                    3
0x00ad52965f378de3c48191d21aa430ffb272aa9e                                                    5
0x0131e3a1cd6b6df5eb56c68c7acbe1e5dc39f935                                                    1
0x0175f9c11a707e7c73a0a954f5869105105b2ae1                                                    1
                                                                    ...
0xffd971d72f77fefcee7f450eb90a828296e6fd6f                                                    2
0xffdee10cc6d11620de6b899328082caaed5b3f04                                                    3
0xffea101a256b32eea3678ee9e7f987f43c60c9b4                                                    7
0xffef343ca62da5a083677ea3123fdb730ff10a9b                                                    1
streetCount                                                                       ownerAddre...
Name: propertyCount, Length: 1848, dtype: object

In [42]:
dfOwnerTotal.loc[dfOwnerTotal['propertyCount']>6]

KeyError: 'propertyCount'

In [46]:
dfOwnerStreet

,ownerAddress,ownerName,ownerNameLower,city,district,street,propertyCount,streetCount
0,0x0027d58331121efa6cfd229291745de2feeabf38,Elixir23,elixir23,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
1,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Beige Bay,Sandy Secrets,Cobra Cove,1,0
2,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Orange Oasis,Port Pumpkin,Trick Or Street,1,0
3,0x0056db98538704fa5914d259c6e569318e6837f8,VIOLETx15479,violetx15479,Purple Palms,Violet Ville,Lobelia Lane,1,0
4,0x00ad52965f378de3c48191d21aa430ffb272aa9e,heyitsjes,heyitsjes,Beige Bay,Sandy Secrets,Cobra Cove,2,0
...,...,...,...,...,...,...,...,...
3826,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Mount Mango,Naranja Narrows,1,0
3827,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Orange Oasis,Port Pumpkin,Carved Lane,1,0
3828,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Purple Palms,Violet Ville,Lobelia Lane,1,0
3829,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,HoodooOwl,hoodooowl,Yellow Yards,Buenas Bananas,Ape Gang Avenue,1,0
3830,0xffef343ca62da5a083677ea3123fdb730ff10a9b,rafcorp,rafcorp,Beige Bay,Tobacco Trees,Lucky Lane,1,0

In [80]:
len(df.groupby('ownerAddress'))

2251

In [90]:
dfOwnerStreetGrouped = dfOwnerStreet.groupby('ownerAddress')

In [116]:
dfOwnerTotal = dfOwnerStreetGrouped.propertyCount.sum().reset_index(name="totalProperties")

In [111]:
dfOwnerStreetNoSpecial = dfOwnerStreet.loc[dfOwnerStreet['city']!='Special']

In [113]:
dfOwnerStreetGrouped = dfOwnerStreetNoSpecial.groupby('ownerAddress')

In [114]:
dfOwnerStreetsTotal = dfOwnerStreetGrouped.streetCount.sum().reset_index(name="totalStreets")

In [117]:
dfOwnerTotal

                                    ownerAddress  totalProperties
0     0x0027d58331121efa6cfd229291745de2feeabf38                1
1     0x0036052fe7b5ea7f67b61f734e9892b42a32bed4                1
2     0x0056db98538704fa5914d259c6e569318e6837f8                3
3     0x005bf045184b67b93b9793778a9e7a191f617300               21
4     0x0078533e767120694e798e089335ff7b0515ae31                1
...                                          ...              ...
2208  0xff75451510df6ad50e902ffb2a295b96219b088f                1
2209  0xffd971d72f77fefcee7f450eb90a828296e6fd6f                2
2210  0xffdee10cc6d11620de6b899328082caaed5b3f04                3
2211  0xffea101a256b32eea3678ee9e7f987f43c60c9b4                7
2212  0xffef343ca62da5a083677ea3123fdb730ff10a9b                1

[2213 rows x 2 columns]

In [55]:
dfOwnerStreetsTotal[dfOwnerStreetsTotal['totalStreets']>0]

                                    ownerAddress  totalStreets
15    0x031633884306abaf5d5003ca5a631aec9ef258aa             1
38    0x0761b46c9fbffadb485ff7ce261e924feb6299af             1
46    0x08f5ae9f9f102d8c4ed20cbcff11f6d32cf82cb1             3
76    0x0cc117d0385b9618e419d9f0da7a8903000efbaa             1
155   0x15858fb53c8aa6a024cce669bbadcdcaddfc1ad5             1
...                                          ...           ...
1767  0xf48bab935217a4a56909043899148e62ca3c1cae             2
1791  0xf72b498fdb45c69f709750def8ad813b92b97beb             1
1795  0xf7ad7ded6a19088f076575f36c05ec17c572ed37             3
1798  0xf7f8402a3acdb4b2fdb29dba0b21e5eb599efa60             4
1827  0xfc58104e5d6983ce17aeb6d9465cec544a86c4a7             1

[69 rows x 2 columns]

In [118]:
dfCombinedTotals = pd.merge(dfOwnerStreetsTotal, dfOwnerTotal, on="ownerAddress")

In [119]:
dfCombinedTotals

,ownerAddress,totalStreets,totalProperties
0,0x0027d58331121efa6cfd229291745de2feeabf38,0,1
1,0x0036052fe7b5ea7f67b61f734e9892b42a32bed4,0,1
2,0x0056db98538704fa5914d259c6e569318e6837f8,0,3
3,0x005bf045184b67b93b9793778a9e7a191f617300,0,21
4,0x0078533e767120694e798e089335ff7b0515ae31,0,1
...,...,...,...
2208,0xff75451510df6ad50e902ffb2a295b96219b088f,0,1
2209,0xffd971d72f77fefcee7f450eb90a828296e6fd6f,0,2
2210,0xffdee10cc6d11620de6b899328082caaed5b3f04,0,3
2211,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,0,7
2212,0xffef343ca62da5a083677ea3123fdb730ff10a9b,0,1

In [120]:
dfCombinedQualified = dfCombinedTotals.loc[dfCombinedTotals['totalProperties']>6]

In [121]:
dfCombinedQualified

,ownerAddress,totalStreets,totalProperties
3,0x005bf045184b67b93b9793778a9e7a191f617300,0,21
13,0x01cddb7c619f4d44e86839b8b31ba414febc0d0e,0,8
16,0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462,0,7
24,0x031633884306abaf5d5003ca5a631aec9ef258aa,1,8
50,0x0761b46c9fbffadb485ff7ce261e924feb6299af,1,7
...,...,...,...
2153,0xf7ad7ded6a19088f076575f36c05ec17c572ed37,3,25
2156,0xf7f8402a3acdb4b2fdb29dba0b21e5eb599efa60,4,32
2176,0xfb8625cea73cdd67b737b94b10cbe6554af279d4,0,11
2189,0xfc58104e5d6983ce17aeb6d9465cec544a86c4a7,1,18
2211,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,0,7

In [72]:
dfOwnerStreet.loc[(dfOwnerStreet['streetCount']==0) & (dfOwnerStreet['propertyCount'])>6]

Empty DataFrame
Columns: [ownerAddress, ownerName, ownerNameLower, city, district, street, propertyCount, streetCount]
Index: []

In [81]:
gbOwnerStreet.ngroups

3831

In [89]:
dfOwnerStreet.groupby(['ownerAddress','ownerName']).ngroups

2251

In [122]:
dfImpureStreets = dfCombinedQualified.assign(impureStreets = lambda x: np.floor_divide(x['totalProperties'] - (x['totalStreets']*7), 7))

In [133]:
dfImpureStreetsBrix = dfImpureStreets.assign(brixOwed = lambda x: x['impureStreets']*300)

In [134]:
dfImpureStreetsBrix

,ownerAddress,totalStreets,totalProperties,impureStreets,brixOwed
3,0x005bf045184b67b93b9793778a9e7a191f617300,0,21,3,900
13,0x01cddb7c619f4d44e86839b8b31ba414febc0d0e,0,8,1,300
16,0x023192b16a986dc4e5cb76c1ec2f4d2de4d08462,0,7,1,300
24,0x031633884306abaf5d5003ca5a631aec9ef258aa,1,8,0,0
50,0x0761b46c9fbffadb485ff7ce261e924feb6299af,1,7,0,0
...,...,...,...,...,...
2153,0xf7ad7ded6a19088f076575f36c05ec17c572ed37,3,25,0,0
2156,0xf7f8402a3acdb4b2fdb29dba0b21e5eb599efa60,4,32,0,0
2176,0xfb8625cea73cdd67b737b94b10cbe6554af279d4,0,11,1,300
2189,0xfc58104e5d6983ce17aeb6d9465cec544a86c4a7,1,18,1,300
2211,0xffea101a256b32eea3678ee9e7f987f43c60c9b4,0,7,1,300

In [136]:
dfImpureStreetsBrix.loc[dfImpureStreetsBrix['impureStreets']>0].sort_values(by='impureStreets', ascending=False).to_csv('impure_streets_first_airdrop_correction.csv', index=False)